:root {
  --base-font-family: 'Fira Sans', sans-serif, Helvetica;

  --blue-10-color: #93C4F5;
  --blue-30-color: #7CBAF9;
  --blue-70-color: #020275;
  --blue-90-color: #01203F;

  --seawave-30-color: #7FACAC;
  --seawave-90-color: #053A47;

  --white-color: white;

  --dark-grey-color: #3D3D3F;

  --black-color: black;

  /* --main-bg-start-color: var(--blue-30-color);
  --main-bg-end-color: var(--seawave-30-color); */
  --main-bg-start-color: var(--lightgreen-30-color);
  --main-bg-end-color: var(--darkgreen-30-color);
  --main-header-text-color: #bababa;
  --shadow-color: #00000029;
  --tasklist-bg-color: #cbdff4bf;
  --tasklist-last-bg-color: #cbdff473;

  --lightgreen-30-color: #34253D;
  --task-color: #bababa;
  --blue-buton-color: #41A5BF;
  --darkgreen-30-color: #664660;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--base-font-family);
}

ul {
  list-style: none;
}

body {
  padding: 0 4vw;
  min-height: 100vh;
  background: linear-gradient(var(--main-bg-start-color), var(--main-bg-end-color)) center / cover no-repeat;
}

body.dark-theme {
  --main-bg-start-color: var(--blue-90-color);
  --main-bg-end-color: var(--seawave-90-color);
  --main-header-text-color: var(--blue-10-color);
}

#app-header {
  width: 100%;
  padding: 4vh 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.app-header__app-name {
  font-size: clamp(1rem, 2.7vw, 3.2rem);
  color: var(--main-header-text-color);
}

.app-header__user-and-controls {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.user-info__avatar {
  width: clamp(2rem, 6vw, 5rem);
  height: clamp(2rem, 6vw, 5rem);
  border-radius: 50%;
  border: 2px solid var(--white-color);
  background: url(images/avatar.jpeg) center / cover;
}

.user-info__username {
  font-size: clamp(1rem, 2.7vw, 3.2rem);
  color: var(--main-header-text-color);
}

.toggle-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 6vh;
  height: 3vh;
}

.toggle-switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.5vh;
  background-color: var(--blue-90-color);
  border: 1px solid var(--main-header-text-color);
  transition: .4s;
}

.toggle-switch__slider::before {
  width: calc(3vh - 8px);
  height: calc(3vh - 8px);
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: var(--main-bg-end-color);
  border: 1px solid var(--main-header-text-color);
  transition: .4s;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider {
  background-color: #664660;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider::before {
  transform: translateX(3vh);
  background-color: var(--blue-90-color);
}

#app-main {
  width: 100%;
  box-sizing: border-box;
  padding-top: 3vh;
  margin-bottom: 3vh;
}

.tasklists-list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  row-gap: 3vh;
  column-gap: calc(8% / 3);
}

.tasklists-list__item {
  width: 23%;
  box-sizing: border-box;
  border-radius: 1vw;
  padding: 1vw 1.2vw;
  box-shadow: 2px 2px 4px var(--shadow-color);
  background-color: var(--tasklist-bg-color);
}

.tasklist.tasklist_droppable {
  border: 2px dashed var(--blue-50-color);
}

.tasklist__name {
  font-size: clamp(0.75rem, 1.3vw, 1.3rem);
  font-weight: 600;
  margin-bottom: 1vw;
  color: #3a2c37;
  justify-content: space-between;
}

.tasklist__add-task-btn {
  border: none;
  background: none;
  font-size: clamp(0.7rem, 1.1vw, 1.1rem);
  color: #432c3f;
}

.tasklist__add-task-btn:hover {
  color: #1e171c;
  cursor: pointer;
}

.task {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  gap: 1vw;
  margin-bottom: 1vw;
  border-radius: 0.75vw;
  box-shadow: 2px 2px 4px #e6e1e5;
  background-color: rgba(217,210,216,0.5);
  border: 2px solid #e6e1e5;
  transition: background-color 0.5s ease, border-color 0.5s ease;
  cursor: move;
}

.task:hover {
  background-color: rgba(178,162,175,0.4);
  border-color: #e6e1e5;
}

.task__text {
  overflow-wrap: anywhere;
  font-size: clamp(0.7rem, 1.2vw, 1.2rem);
}

.task__text-mini {
  overflow-wrap: anywhere;
  font-size: clamp(0.5rem, 0.85vw, 0.85rem);
}

.task__controls-row {
  display: flex;
  justify-content: center;
  gap: calc(1vw / 3);
}

.task__controls-delete-btn {
  display: flex;
  align-items: center;
  gap: calc(1vw / 3);
}

.task__contol-btn {
  width: 1.2vw;
  height: 1.2vw;
  opacity: 0.6;
  border: none;
}

.task__contol-btn-2 {
  width: 1.5vw;
  height: 1.5vw;
  opacity: 0.6;
  border: none;
  margin-left: 15px;
  justify-content: space-between;
}

.task__contol-btn-2:hover {
  opacity: 1;
  cursor: pointer;
}

.task__contol-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.left-arrow-icon {
  background: url(assets/left-arrow.svg) center / cover;
}

.right-arrow-icon {
  background: url(assets/right-arrow.svg) center / cover;
}

.edit-icon {
  background: url(assets/edit.svg) center / cover;
}

.delete-icon {
  background: url(assets/delete-button.svg) center / cover;
}

.tasklist:first-child .left-arrow-icon {
  display: none;
}

.tasklist:nth-last-child(2) .right-arrow-icon {
  display: none;
}

.tasklist-adder {
  background-color: var(--tasklist-last-bg-color);
  border-color: var(--tasklist-last-bg-color);
  transition: background-color 1s ease;
}

.tasklist-adder:hover {
  background-color: var(--tasklist-bg-color);
  border-color: var(--tasklist-bg-color);
}

.tasklist-adder__btn {
  border: none;
  background: none;
  font-weight: 400;
  font-size: clamp(0.75rem, 1.3vw, 1.3rem);
  color: #281c26;
}

.tasklist-adder__btn:hover {
  font-weight: 300;
  cursor: pointer;
}

.tasklist-adder__btn-prc {
  border: none;
  background: none;
  font-weight: 400;
  font-size: clamp(0.75rem, 1.3vw, 1.3rem);
  color: #281c26;
  bottom: 30px;
}

.tasklist-adder__btn-prc:hover {
  font-weight: 300;
  cursor: pointer;
}

.tasklist-adder__input {
  display: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.6vw;
  border-radius: 0.7vw;
  box-shadow: 0 0 4px var(--shadow-color);
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  color: #281c26;
  opacity: 0.7;
}

.tasklist-adder__input-prc {
  display: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.6vw;
  border-radius: 0.7vw;
  box-shadow: 0 0 4px var(--shadow-color);
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  color: #281c26;
  opacity: 0.7;
}

.tasklist-adder__input:hover,
.tasklist-adder__input:focus {
  opacity: 1;
}

.task.task_selected {
  opacity: 0.6;
}

.tasklist__tasks-list-item.task {
  display: flex;
  flex-direction: column; /* Отображаем дочерние элементы в столбец */
  gap: 0.1vw;
}

.div-item {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-top: 1px;
}



.app-modal[open] {
  border: none;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-modal::backdrop {
  backdrop-filter: blur(10px);
}

.app-modal__form {
  box-sizing: border-box;
  padding: 2vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.app-modal__input {
  padding: 0.6vw;
  border-radius: 0.7vw;
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  color: var(--dark-grey-color);
  border: 2px solid var(--black-color);
}

.app-modal__select {
  padding: 0.6vw;
  border-radius: 0.7vw;
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  color: var(--dark-grey-color);
  border: 2px solid var(--black-color);
}

.app-modal__question {
  text-align: center;
}

.app-modal__controls {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.app-modal__btn {
  cursor: pointer;
  padding: 5px;
}

.app-notifications {
  border: none;
  right: 0;
  bottom: 1vw;
  left: 100vw;
  transform: translateX(calc(-100% - 3vw));
  background: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.notification {
  box-sizing: border-box;
  border-radius: 0.5vw;
  padding: 10px;
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  min-width: 25vw;
}

.notification-success {
  background-color: rgba(217,210,216,0.5);
}

.notification-error {
  background-color: rgba(188, 152, 183, 0.5);
}
